/* MyComponent.css */

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .imageContainer {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
    
  }
  
  .centerImage {
    width: 600px;
    height: 300px;
    margin: 0 20px;
    display: flex;
    justify-content: left;
  }
  
  .rightImage {
    width: 30px;
    height: 450px;
    margin: 20px 100px;
    display: flex;
    position: absolute;
    align-self: flex-end;
    right: 0;
    bottom: 0;
  }
  .filler3{
    width: 23px;
    height: 60px;
    margin: 28px 103px;
    display: flex;
    position: absolute;
    align-self: flex-end;
    right: 0;
    bottom: 0;
    /* animation: entrance 1s ease-in-out; */
  }
  /* @keyframes entrance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */

  .text {
    font-size: 18px;
    margin-top: 20px;
    animation: color-change 1s ease-in-out infinite;
  }
  @media (max-width: 600px) {
    .image {
      height: 100px;
      width: 300px;
    }
    
    .rightImage {
      height: 100px;
      width: 30px;
    }
  }
  @keyframes color-change {
    0% {
      color: red;
    }
    20% {
      color: orange;
    }
    40% {
      color: yellow;
    }
    60% {
      color: green;
    }
    80% {
      color: blue;
    }
    100% {
      color: violet;
    }
  }

  